@font-face {
  font-family: 'Bastia';
  src: url(../fonts/Bastia-Bold.woff2) format('woff2'),
      url(../fonts/Bastia-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Bastia';
  src: url(../fonts/Bastia-Bold.woff2) format('woff2'),
      url(../fonts/Bastia-Bold.woff) format('woff');
  font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
  font-weight: 400;
  line-height: 1.35em;
  font-size: 16px;
  color: #515639;
  background-color: #B2C29E;
  border: 18px double #8A9A77;
  min-height: calc(100vh - 36px);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#wrapper {
  margin: 3em 5%;
  max-width: 500px;
}

h1, h2, h3 {
  font-family: 'Bastia';
  font-kerning: normal;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 5em;
  line-height: .9em;
  color: #fdfff3;
}

h2 {
  font-size: 1.4em;
  letter-spacing: 0.1ch;
  line-height: 1.25em;
  margin: 1em 0em;
}

#abby {
  letter-spacing: -0.07ch;
  margin-left: -.1ch;
}

#alex {
  letter-spacing: -0.06ch;
  transform: rotate(180deg);
  margin-right: -.1ch;
}

#monogram {
  font-size: min(min(25vw, 25vh), 10em);
  /* margin-bottom: .25em; */
}

#monogram:hover {
  transform: rotate(180deg);
}

p {
  margin: .25em 0;
  text-align: center;
}

#house-illustration {
  display: flex;
  max-height: 150px;
  max-width: 75vw;
  align-items: center;
  margin: 1.5em auto;
  /* margin-top: 4em; */
  opacity: 0.9;
}