@font-face {
    font-family: 'Bastia';
    src: url(../fonts/Bastia-Bold.woff2) format('woff2'),
        url(../fonts/Bastia-Bold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Bastia';
    src: url(../fonts/Bastia-Bold.woff2) format('woff2'),
        url(../fonts/Bastia-Bold.woff) format('woff');
    font-weight: bold;
  }
  