.guestInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: auto;
    padding: 10px 0px;
}

.guest {
    margin-right: auto;
}

h4 {
    font-size: larger;
}

.email {
    font-size: smaller; 
}

.attending, .notAttending {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 4px;

    min-height: 50px;

    border-radius: 2px;
}

.attending {
    background: var(--color-sage10);
}

.notAttending {    
    color: var(--color-cream);
    background: var(--color-sage80);
}