body {
    font-family: 'Noto Serif';
    color: var(--color-text)
}

.guestInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: auto;
    padding: 10px 0px;
}

.guest {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.guest .name {
    font-size: large;
    font-weight: 600;
}

.email {
    font-size: smaller; 
}

.attending, .notAttending {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;

    font-size: small;
    border-radius: 2px;
}

.attending {
    background: var(--color-cream);
}

.notAttending {    
    color: var(--color-cream);
    background: var(--color-sage80);
}